.breadcrumbs
    a.breadcrumbs__name(href="#") Главная
    span.breadcrumbs__mark —
    a.breadcrumbs__name(href="#") Паркет
    span.breadcrumbs__mark —
    a.breadcrumbs__name(href="#") Паркетная доска
