section.title
    .title__container
        .title__logo
        .title__tagline
            hr.title__line
            .title__info
                span.title__taglineName Паркет
                span.title__circle
                span.title__taglineName Керамика
            hr.title__line
