.footer
    .footer__wrapper
        .footer__containerLeft
            a.footer__logo(href="#")
            .footer__info
                div Саввинская набережная, 23
                div +7 (495) 789-28-03
                div info@archwood.ru
            .footer__time
                .footer__timeTitle Время работы
                div.footer__timeWork пн-пт 10:00 - 20:00
                div.footer__timeWork сб-вс 11:00 - 19:00
            .footer__rules © 2018 Arch Wood. Паркет и керамогранит. Все права защищены.
        .footer__containerRight
            .footer__column.footer__columnLeft
                .footer__socialLinks
                    a.footer__socialLink__facebook(href="#")
                    a.footer__socialLink__vk(href="#")
                    a.footer__socialLink__instagram(href="#")
                    a.footer__socialLink__d(href="#")
                    a.footer__socialLink__youtube(href="#")
                a.footer__politics(href="#") Политика конфиденциальности
            .footer__column.footer__columnRight
                button.footer__feedback Оставить заявку
                .footer__column.footer__alternateColumn
                    a.footer__creatorLogo(href="#")
                    .footer__creatorText Разработка сайта
