.products#easyPaginate
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска            
    //page 2
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    //page 3
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска         
    //page 4
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска    
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    //page 5
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood1.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Европейский дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood2.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Континентальный дуб
        .products__cardNameType тип: массивная доска
    .products__card
        .products__cardImg(style='background-image: url(img/wood3.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска
    .products__card.products__card_lastItem
        .products__cardImg(style='background-image: url(img/wood4.jpg);')
            a.products__about(href="#") Подробнее
        .products__cardNameCompany Ebony&Co
        .products__cardNameProduct Амриканский белый дуб
        .products__cardNameType тип: массивная доска         
