.filter
    .filter__settings
        .filter__settingsItem
            .filter__name Длина
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="L_00cm").filter__option 100 см
                option(value="L_110cm").filter__option 110 см
                option(value="L_150cm").filter__option 150 см
                option(value="L_200cm").filter__option 200 см
                option(value="L_250cm").filter__option 250 см
        .filter__settingsItem
            .filter__name Ширина
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="W_207cm").filter__option 20.7 см
                option(value="W_13cm").filter__option 13 см
                option(value="W_19cm").filter__option 19 см
                option(value="W_125cm").filter__option 12.5 см
                option(value="W_164cm").filter__option 16.4 см
        .filter__settingsItem
            .filter__name Толщина
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="T_7mm").filter__option 7 мм
                option(value="T_10mm").filter__option 10 мм
                option(value="T_12mm").filter__option 12 мм
                option(value="T_13mm").filter__option 13 мм
                option(value="T_15mm").filter__option 15 мм 
        .filter__settingsItem.filter__settingsItem_last
            .filter__name Бренд
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="B_Black_forest").filter__option Black forest
                option(value="B_Vinci").filter__option Vinci
                option(value="B_Biehrer").filter__option Biehrer
                option(value="B_Old_floor").filter__option Old floor
        .filter__settingsItem
            .filter__name Тип
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="Board_Mas").filter__option Массивная доска
                option(value="Board_Eng").filter__option Инженерная доска
                option(value="Board_Par").filter__option Паркетная доска
                option(value="Board_Ter").filter__option Террасная доска
        .filter__settingsItem
            .filter__name Порода дерева
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="Wood_Nut").filter__option Орех
                option(value="Wood_Oak").filter__option Дуб
                option(value="Wood_Ash").filter__option Ясень
                option(value="Wood_Teak").filter__option Тик
                option(value="Wood_Larch").filter__option Лиственница
                option(value="Wood_Zebrano").filter__option Зебрано
                option(value="Wood_Eben").filter__option Эбен
        .filter__settingsItem
            .filter__name Селекция
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="Sel_Rustic").filter__option Рустик
                option(value="Sel_Select").filter__option Селект
                option(value="Sel_nature").filter__option Натур
        .filter__settingsItem.filter__settingsItem_last
            .filter__name Финишная обработка
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="Finish_varnish").filter__option Лак
                option(value="Finish_oil").filter__option Масло на основе воска
        .filter__settingsItem
            .filter__name Цвет
            select.filter__select
                option(value="" selected).filter__option Все
                option(value="Color_light").filter__option Светлый
                option(value="Color_dark").filter__option Темный
                option(value="Color_color").filter__option Цветной
    .filter__buttons
        .filter__rollUp Свернуть
        .filter__clear Очистить
