noscript
    p Please enable Javascript

header.header
    .header__wrapper
        .header__column.header__column_leftColumn
            a.header__link(href="#")
                span.header__circle
                span.header__type Паркет
            a.header__link(href="#")
                span.header__circle
                span.header__type Керамика
        .header__column.header__column_centerColumn
            a.header__info(href="#") О нас
            a.header__info(href="#") Контакты
            a.header__info(href="#") Дизайнерам и архитекторам
        .header__column.header__column_rightColumn
            .header__phoneNumber 
                span +7 (495) 
                span.header__phoneNumberBold 555-55-55
            button.header__call Обратный звонок
