.content{
    width: 100%;
    margin-bottom: 54px;
}

.content__title{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 64px;
    color: #000000;
}

.content__text{
    font-size: 18px;
    line-height: 30px;
    color: #8c8c8c;
    font-weight: 500;
}
